/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-image: url("/images/site/checkerboard.jpg");
  background-size: 300px;
  background-position: center;
  background-repeat: repeat;
}

#wrapper {
  width: 90%;
  max-width: 1200px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(44, 197, 224);
  border-radius: 0.6em;
  border-width: 0.3em;
  margin: 1em;
}

main {
  width: 100%;
  padding: 1em;
}

h1 {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  padding-left: 1em;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  gap: 1em;
  margin: 1em;
  padding: 1em;
}

#cta-container {
  display: flex;
  width: 100%;
  height: 350px;
  background-image: url("/images/vehicles/delorean.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 1em;
}

#cta-text {
  background-color: rgba(255, 255, 255, 0.479);
  width: 90%;
  max-width: 300px;
  padding: 1em;
  height: auto;
}

#cta-text p {
  color: rgb(44, 197, 224);
  font-size: 1.5em;
}

#bottom-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  width: 100%;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
}

#card-img {
  text-align: center;
}

figure {
  width: 100%;
  max-width: 300px;
  background-color: rgb(44, 197, 224);
  padding: 10px;
  border-radius: 8px;
  margin: 0 auto;
}

figcaption {
  margin-top: 0.3em;
  color: blue;
  cursor: pointer;
  text-align: center;
}

h2 {
  color: rgb(44, 197, 224);
}

aside li {
  padding: 1em;
}

h3 {
  font-size: 1.5em;
  color: black;
  padding: 1em;
}

button {
  background-color: rgb(44, 197, 224);
  width: 150px;
  height: 50px;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3em;
  font-size: 1em;
  font-weight: bolder;
}

.siteName {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
}

a {
  text-decoration: none;
  font-size: 1em;
  color: black;
}

#tools {
  font-size: 1rem;
  padding-top: 1em;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 2.5em;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: white;
  list-style: none;
  cursor: pointer;
}

footer {
  padding: 1em;
  text-align: center;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  #bottom-container {
    flex-direction: column;
    align-items: center;
  }

  #cta-container {
    flex-direction: column;
    background-position: center;
    background-size: contain;
  }

  button {
    width: 100%;
    max-width: 200px;
  }

  #gallery {
    grid-template-columns: 1fr; /* 1 por fila en móviles */
  }
}


